/*about-team-start*/
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#body-team {
  background-image: url("./ASSETS FINAL PROJECT HTML-CSS/ornament_batik.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 19%;
}
.background-info {
  background-image: url("./ASSETS FINAL PROJECT HTML-CSS/ornament_batik.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 19%;
}
.title-page span {
  color: #f47522;
}
#body-team h1,
h2,
h3,
h6 {
  color: #19345e;
  font-family: "Muli", sans-serif;
  font-weight: bold;
}
#body-team td {
  color: #19345e;
  font-family: "Muli", sans-serif;
}
.personal-image img {
  max-width: 25vw;
  max-height: 57vh;
  position: relative;
}

.border {
  position: absolute;
  left: 16%;
  top: 45%;
  max-width: 25vw;
  max-height: 57vh;
}
#body-team .border img {
  visibility: hidden;
}

.calendar {
  max-width: 4%;
}
#body-team ul,
p {
  color: #19345e;
  font-family: "Poppins", sans-serif;
}
#body-team footer {
  background-color: #19345e;
  height: 141px;
}
.footer-logo img {
  max-width: 30%;
}
/*about-team-end*/
