@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Navbar */
nav {
  padding: 15px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #c1c3c736;
  opacity: 1;
}

nav ul li a {
  text-decoration: none;
  font-family: "Muli", "Roboto", monospace;
  color: #19345e;
}

nav ul li a:hover {
  color: #f47522;
}

.nav-logo {
  width: 8vw;
}

.nav-btn-border {
  border: 2px solid Tomato;
}

/* Footer */
.footer-logo img {
  max-width: 30%;
}

footer {
  background-color: #19345e;
  height: 141px;
}

/* Hero Section */
#hero {
  background-color: #edf6ff;
  height: 100vh;
}

#hero h2 {
  font-family: "Muli", "Roboto", monospace;
  font-size: 1.5625rem;
  font-weight: 400;
  color: #19345e;
}

#hero h1 {
  font-family: "Roboto", "Muli", monospace;
  font-size: 2.8125rem;
  font-weight: 700;
  color: #19345e;
}

#hero h1 span {
  font-family: "Roboto", "Muli", monospace;
  font-size: 2.8125rem;
  font-weight: 700;
  color: #f47522;
}

#hero p {
  font-family: "Muli", "Roboto", monospace;
  font-size: 1.0625rem;
  font-weight: 700;
  color: #19345e;
}

.hero-img {
  width: 75%;
}

.hero-icon {
  width: 15%;
}
