@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Navbar */
nav {
  padding: 15px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #c1c3c736;
  opacity: 1;
}

nav ul li a {
  text-decoration: none;
  font-family: "Muli", "Roboto", monospace;
  color: #19345e;
}

nav ul li a:hover {
  color: #f47522;
}

.nav-logo {
  width: 8vw;
}

.nav-btn-border {
  border: 2px solid Tomato;
}

/* Footer */
.footer-logo img {
  max-width: 30%;
}

footer {
  background-color: #19345e;
  height: 141px;
}

/* Hero Section */
#hero {
  background-color: #edf6ff;
  height: 100vh;
}

#hero h2 {
  font-family: "Muli", "Roboto", monospace;
  font-size: 1.5rem;
  font-weight: 400;
  color: #19345e;
}

#hero h1 {
  font-family: "Roboto", "Muli", monospace;
  font-size: 2.8rem;
  font-weight: 700;
  color: #19345e;
}

#hero h1 span {
  font-family: "Roboto", "Muli", monospace;
  font-size: 2.8rem;
  font-weight: 700;
  color: #f47522;
}

#hero p {
  font-family: "Muli", "Roboto", monospace;
  font-size: 1rem;
  font-weight: 700;
  color: #19345e;
}

.hero-img {
  width: 75%;
}

.hero-icon {
  width: 15%;
}

/* Page Home */
/* Bar Information Section */
#bar-info card {
  width: 18rem;
}

#bar-info p {
  font-family: "Roboto", "Muli" monospace;
  font-size: 1rem;
  font-weight: 700;
  color: #19345e;
}

#bar-info p span {
  font-family: "Roboto", "Muli" monospace;
  font-size: 0.8rem;
  font-weight: 400;
  color: #19345e;
}

.circle-icon {
  width: 4vw;
  height: 8vh;
  background-color: #f47522;
  transition: all 0.1s ease-in;
}

.bar-img {
  width: 1.95vw;
}

/* About Section */
#about h1 {
  font-family: "Muli", "Roboto", monospace;
  font-size: 2.8rem;
  font-weight: 400;
  color: #19345e;
}

#about h1 i {
  color: #f47522;
}

.text-about {
  font-size: 3.4rem;
  font-family: "Muli", "Roboto", monospace;
  font-weight: 400;
  text-align: center;
  margin-top: 10rem;
}

.text-aboutParagraf {
  font-size: 1.125rem;
  font-family: "Muli", "Roboto", monospace;
  font-weight: 400;
  text-align: center;
}

.bg-opacity {
  background-color: rgba(25, 52, 94, 0.7);
  width: 100%;
  height: 100%;
}

/* Meet Team Section */
#meet-team {
  background-image: url("assets/ornament_batik.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 12%;
}

#meet-team h1 {
  font-family: "Muli", "Roboto", monospace;
  font-size: 2.8rem;
  font-weight: 700;
  color: #19345e;
}

#meet-team h1 i {
  color: #f47522;
}

#meet-team figcaption {
  font-family: "Muli", "Roboto", monospace;
  font-size: 1rem;
  font-weight: 700;
  color: #19345e;
}

#meet-team h3 {
  font-family: "Roboto", "Muli", monospace;
  font-size: 1.2rem;
  font-weight: 700;
  color: #f47522;
}

#meet-team p {
  font-family: "Poppins", "Muli", monospace;
  font-size: 0.9rem;
  font-weight: 400;
  color: #19345e;
}

#meet-team a {
  font-family: "Muli", "Roboto", monospace;
  font-size: 1rem;
  font-weight: 500;
  color: #19345e;
}

#meet-team a i {
  color: #19345e;
}

.img-meet-team {
  background-image: url("assets/shutterstock_796346011@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 17.5vw;
  height: 42vh;
}

.team-border {
  border: 10px solid #f47522;
  width: 17.5vw;
  height: 42vh;
  top: 15px;
  right: 15px;
}

/* Latest Blog Section */
#latest-blog h1 {
  font-family: "Muli", "Roboto", monospace;
  font-size: 2.8rem;
  font-weight: 700;
  color: #19345e;
}

#latest-blog h1 i {
  color: #f47522;
}

#latest-blog p {
  font-family: "Poppins", "Muli", monospace;
  font-size: 0.8rem;
  font-weight: 400;
  color: #19345e;
}

#latest-blog a {
  font-family: "Poppins", "Muli", monospace;
  font-size: 0.875rem;
  font-weight: 400;
  color: #19345e;
}

.right-text {
  text-align-last: right;
}

/* Page Blog */
/* Hero Blog Section */
#hero-blog img {
  width: 100%;
  height: 100%;
}

#hero-blog h1 {
  font-family: "Muli", "Roboto", monospace;
  font-size: 2.8rem;
  font-weight: 700;
  color: #19345e;
}

#hero-blog h1 i {
  color: #f47522;
}

/* Blog Desc Section */
#blog-desc h1 {
  font-family: "Muli", "Roboto", monospace;
  font-size: 3rem;
  font-weight: 700;
  color: #19345e;
}

#blog-desc h5 {
  font-family: "Muli", "Roboto", monospace;
  font-size: 1.2rem;
  font-weight: 700;
  color: #19345e;
}

#blog-desc p {
  font-family: "Poppins", "Roboto", monospace;
  font-size: 1rem;
  font-weight: 400;
  color: #19345e;
}

/*about-team-start*/
#body-team {
  background-image: url("./assets/ornament_batik.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 15%;
}
.background-info-bottom {
  background-image: url("./assets/ornament_batik.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 15%;
}
.title-page span {
  color: #f47522;
}
#body-team h1,
h2,
h3,
h6 {
  color: #19345e;
  font-family: "Muli", sans-serif;
  font-weight: bold;
}

.personal-image img {
  width: 320px;
  height: 399px;
  position: relative;
}

.personal-border {
  border: 10px solid #f47522;
  width: 320px;
  height: 399px;
  position: absolute;
  margin-top: -375px;
  margin-left: -25px;
}
.border-bottom {
  width: 65%;
}
#body-team td {
  color: #19345e;
  font-family: "Muli", sans-serif;
}
#body-team ul,
p {
  color: #19345e;
  font-family: "Poppins", sans-serif;
}
.calendar {
  width: 3%;
}

.social img {
  width: 10%;
}
/*about-team-end*/

/*contact-start*/
#body-contact h1,
h2,
h3,
h6 {
  color: #19345e;
  font-family: "Muli", sans-serif;
  font-weight: bold;
}
.contact-img img {
  width: 4%;
}

.contact-info {
  color: #19345e;
  font-family: "Poppins", sans-serif;
}
.social-img img {
  width: 7%;
}
/*contact-end*/
